footer{
    background-color: #080808c9;
}

.bg-dark{
    background-color:  #0a0a0a !important;
    margin-top: 0;
    padding: 6px;
    font-size: 1.5em;
}


#pet-select:hover {
    color: blue;
}
#variete{
    color: white;
    font-size: 15px;
    display: contents;
}


.dropdown{
    margin-left:  12px;
    margin-right: 5px;
}

#variete:hover{
    color: blue;
}

.dropdown-item:hover{
    color: blue;
}

.dropdown-menu{

    color: blue;
    font-size: 15px;
    background-color: black;

}

.dropdown-item a{
    /*color: black;*/
    text-decoration: none;
    color: white;

}

#navbarCollapse a{
   font-size: 15px;
   margin-left: 5px;

}
#navbarCollapse a:hover {
    color: blue;
}

.carousel{
    margin-top: 40px;
}
.carousel-item{
    text-align: center;
    width: 100%;
    height:400px;
}

#piste{
    margin-top: 50px;
}
.voir{
    margin-top: 50px;
}


p{
    color: #0a0a0a;
}

.plus-haut{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 20px;
    text-align: right;
}

.logo img{
    width: 55px;
    height: 35px;
}
nav{
    display: inline-block;
}
h2{
    color: #1d10bf;
}
h5{
    color: #1d10bf;
}


/* Annimation image (Pub) */

#conteneur1{

    /*box-shadow: 0 15px 10px -5px #777;*/

}
.d1{
    margin-top: 50px;
    animation: defilement1 10s linear infinite;
}

@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-288px,0);}
}

.d1:hover{
    animation-play-state: paused;
}
/* FIN annimation image (Pub) */

#comment{
    background-image: url("../images/gringe-dadju.jpg");
}
.comment{
    color: red;
    font-weight: bold;
}
.flex{
    margin-top: 50px;
}
#box{
   float: right;
}
