footer{
    background-color: #080808c9;
}

.bg-dark{
    background-color:  #0a0a0a !important;
    margin-top: 0;
    padding: 10px;
    font-size: 1.5em;
}

#videActu{
    margin-top: 50px;

}
#actu{
    margin-top: 70px;
}

#pet-select:hover {
    color: blue;
}
#variete{
    color: white;
    font-size: 15px;
    display: contents;
}

.dropdown{
    margin-left:  12px;
    margin-right: 5px;
}

.dropdown-item:hover{
    color: blue;
}

.dropdown-menu{
    color: blue;
    font-size: 15px;
    background-color: #4e555b;
}

.dropdown-item {
    text-decoration: none;
    color: white;
    max-width: max-content;
}

#navbarCollapse a{
   font-size: 15px;
   margin-left: 5px;
}
#navbarCollapse a:hover {
    color: blue;
}

.carousel{
    margin-top: 40px;

}
.carousel-item{
    text-align: center;
}
.text-contact{
    text-align: center;
}

#piste{
    margin-top: 50px;
}

.voir{
    margin-top: 50px;
}

.js-voting-container{
    display: flex;
}
#counter{
    padding: 10px;
}

p{
    color: #0a0a0a;
}

.logo img{
    width: 55px;
    height: 35px;
}
nav{
    display: inline-block;
}
h2{
    color: #1d10bf;
}
h5{
    color: #1d10bf;
}


/* Annimation image (Pub) */

#conteneur1{
    /*box-shadow: 0 15px 10px -5px #777;*/
}

.d1{
    margin-top: 50px;
    animation: defilement1 10s linear infinite;
}

/*@keyframes defilement1{*/
/*    0%{transform: translate(0,0);}*/
/*    100%{transform: translate(-288px,0);}*/
/*}*/

/*.d1:hover{*/
/*    animation-play-state: paused;*/
/*}*/
/* FIN annimation image (Pub) */

#comment{
    background-image: url("../images/gringe-dadju.jpg");
}

.comment{
    color: #fff891;
    font-size: 14px;
    /*font-weight: bold;*/
    /*display: flex;*/
}
.container-comment{
    color: #fefefe;
}
.comment :hover{
    color: #fe1318;
}
.flex{
    margin-top: 50px;
}
#box{
   float: right;
}
#bakimg{
    background-image: url("../images/mic-p.jpg");

}
#style-log{
    background-color: #FFFFFF80;
}
.col-form-label{
    font-size: 15px;
    color: #000106;
    font-weight: bolder;
}
.card-header{
    font-weight: bolder;
    color: #010106;
    font-size: 20px;
}
.style-register{
    color: #0a0a0a;
    font-weight: bolder;
    font-size: 20px;
}
#style-text{
    color: #000106;
    font-weight: bolder;
    font-size: 15px;
}
#style-admin{
    font-weight: bolder;
    font-size: 16px;
    background-color: #3d3d3d;
    /*background-color: #43e6ff;*/
    color: white;
    border-radius: 5px;
}
.card-text::first-letter {
    text-transform: uppercase;
}
.card-text{
    text-decoration: none !important;
}
.card-text:hover{
    color: red;
}
.container-comment::first-letter{
    text-transform: uppercase;
}
#body-site  {
    background-color: #737373;
}

.cherchable{
    text-align: center;
}
.row-like{
    display: flex;
    flex: 1;
    text-decoration: none;
}
.post-like{
    display: flex;
    text-decoration: none;
}
.post-dislike{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.reseaux{
    margin-left: 10px;
}
.voteBar{
    width: 100%;
    height: 4px;
    background-color: red;
}
.progress-bar{
    width: 50%;
    height: 4px;
    background-color: #3bea9f;
}
.votecell{
    width: 150px;
}
.like{
    border: none;
    padding: 0;
    background: transparent;
}
.dislike{
    border: none;
    padding: 0;
    background: transparent;
}
.button-comment{
    border: none;
    padding: 0;
    background: transparent;
}
.partage-reseaux{
    margin-bottom: 7px;
}
.btn-primary{
    padding: 2px;
    /*border: none;*/
    /*margin: 1px;*/
    /*background: transparent;*/
    /*color: black !important;*/
}
#text-center{
    text-decoration: none !important;
}




.horloge{
    display: flex;
}
.card-img-top{
    border-radius: 5px;
}

#actuPhoto{
    float: right;
    margin-top: 0px;
}

.scrollup {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 50px;
    right: 15px;
    display: none;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 37px;
}

.scrollup:hover {
    color: white;
}
.text-uppercase a{
    text-decoration: none;
}

#dropdown-menu{
    height:150pt;
    overflow: auto;
}
